apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "nginx-gateway.fullname" . }}
  labels:
  {{- include "nginx-gateway.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - services
  - secrets
{{- if .Values.nginxGateway.gwAPIExperimentalFeatures.enable }}
  - configmaps
{{- end }}
  verbs:
  - get
  - list
  - watch
{{- if or .Values.nginxGateway.productTelemetry.enable .Values.nginx.plus }}
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - get
{{- end }}
{{- if .Values.nginx.plus }}
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - list
{{- end }}
{{- if or .Values.nginxGateway.productTelemetry.enable .Values.nginx.plus }}
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - list
{{- end }}
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - list
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses
  - gateways
  - httproutes
  - referencegrants
  - grpcroutes
{{- if .Values.nginxGateway.gwAPIExperimentalFeatures.enable }}
  - backendtlspolicies
  - tlsroutes
{{- end }}
  verbs:
  - list
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes/status
  - gateways/status
  - gatewayclasses/status
  - grpcroutes/status
{{- if .Values.nginxGateway.gwAPIExperimentalFeatures.enable }}
  - backendtlspolicies/status
  - tlsroutes/status
{{- end }}
  verbs:
  - update
- apiGroups:
  - gateway.nginx.org
  resources:
  - nginxgateways
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gateway.nginx.org
  resources:
  - nginxproxies
  - clientsettingspolicies
  - observabilitypolicies
  - upstreamsettingspolicies
  {{- if .Values.nginxGateway.snippetsFilters.enable }}
  - snippetsfilters
  {{- end }}
  verbs:
  - list
  - watch
- apiGroups:
  - gateway.nginx.org
  resources:
  - nginxgateways/status
  - clientsettingspolicies/status
  - observabilitypolicies/status
  - upstreamsettingspolicies/status
  {{- if .Values.nginxGateway.snippetsFilters.enable }}
  - snippetsfilters/status
  {{- end }}
  verbs:
  - update
{{- if .Values.nginxGateway.leaderElection.enable }}
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - update
{{- end }}
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - list
  - watch
{{- if .Capabilities.APIVersions.Has "security.openshift.io/v1/SecurityContextConstraints" }}
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  resourceNames:
  - {{ include "nginx-gateway.scc-name" . }}
  verbs:
  - use
{{- end }}
