<style>
    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        border-top: 1px solid #ccc;
        padding-top:20px;
    }
    main h3 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 1.8em;
    }
    main h4 {
        margin-top: 20px;
        font-size: 1.5em;
        font-weight: 300;
    }
    h5 {
        margin-top: 30px;
    }
    hr {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    td hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    summary {
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 300;
        font-size: 15px;
        color: green;
    }
    pre {
    white-space: pre-wrap;
    }
    .fa-circle-check {
        color: green;
    }
</style>
